<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="CryptoDash" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="./logs/cryptodash.log" filePattern="logs/$${date:yyyy-MM}/cryptodash-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%-4r [%t] %d %-5p %c{1} %M() - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="90" />
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%-4r [%t] %d %-5p %c{1} %M() - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>